.about-page {
  margin-bottom: 2rem;
  &__title {
    font-family: $monseratt;
    font-size: 5.5rem;
    line-height: 1.2;
    letter-spacing: 1px;
    margin-bottom: 4.5rem;
    color: $white;
    font-weight: 400;
    position: relative;
    @media only screen and (max-width: 800px) {
      font-size: 2.5rem;
      margin-top: 1.2rem;
      padding: 0 1.2rem;
    }
    &::after {
      content: "";
      background-color: $white;
      height: 2px;
      width: 70%;
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      @media only screen and (max-width: 800px) {
        width: 55%;
      }
    }
  }
  &__content {
    margin-left: 30rem;
    margin-right: 10rem;
    position: relative;
    @media only screen and (max-width: 800px) {
      margin-left: 1rem;
      margin-right: 5rem;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 2.5px;
      height: calc(100% - 3rem);
      display: block;
      background: $brown-2;
      margin-left: -30rem;
      @media only screen and (max-width: 800px) {
        margin-left: -17px;
        width: 1.5px;
      }
    }
  }
}
