.page-template-template-faqs {
  background-color: $nude;
  .header-nav {
    border: 1.5px solid $nude;
  }
}

.faqs {
  background-color: $nude;
  &__title {
    font-family: $monseratt;
    color: $black;
    font-weight: 300;
    text-align: center;
    margin: 4rem 0;
    position: relative;
    @media only screen and (max-width: 800px) {
      font-size: 1.2rem !important;
    }
    &:before {
      content: '';
      background-color: $white;
      background-position: center center;
      width: 20%;
      height: 1.5px;
      display: block;
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translate(-50%, 50%);
      @media only screen and (max-width: 800px) {
        width: 40%;
      }
    }
    @media only screen and (max-width: 800px) {
      font-size: 1.5rem;
    }
  }
}

.arrow-thin {
  position: absolute;
  bottom: 8%;
  left: 50%;
  height: 1.2rem;
  display: block;
  transform: translate(-50%, 50%);
  &__prev {
    transform: scaleX(-1);
  }
}

//mobile
