.hair-care-guide {
  width: 100%;
  &__title {
    text-align: center;
    color: $white;
    font-family: $monseratt;
    font-size: 2.2rem;
    line-height: 1;
    letter-spacing: 0.56px;
    font-weight: 400;
    margin-top: 2rem;
    margin-bottom: 3rem;
    position: relative;
    &::after {
      content: '';
      background-color: $brown;
      width: 20%;
      height: 2px;
      display: block;
      position: absolute;
      top: 132%;
      left: 50%;
      transform: translate(-50%, 50%);
      @media only screen and (max-width: 800px) {
        width: 35%;
      }
    }
    @media only screen and (max-width: 800px) {
      margin-bottom: 2.5rem;
      font-size: 1.2rem;
    }
  }
}

.hair-care-guide-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  @media only screen and (max-width: 1300px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media only screen and (max-width: 800px) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
  }

}

.flip-card {
  background-color: transparent;
  width: 100%;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  cursor: pointer;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  &__front-arrow {
    margin-top: 1.5rem;
    height: 2rem;
    @media only screen and (max-width: 800px) {
      margin-top: 1rem;
      height: 1rem;
    }
  }
  &__back-arrow {
    margin-top: 1.5rem;
    height: 2rem;
    transform: scale(-1, 1);
    @media only screen and (max-width: 800px) {
      margin-top: 1rem;
      margin-bottom: 1rem;
      height: 1rem;
    }
  }
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
// .flip-card:hover .flip-card-inner {
//   transform: rotateY(180deg);
// }

.flipped {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
  svg {
    width: 1.8rem;
    height: 1.8rem;
    margin-top: 2rem;

    @media only screen and (max-width: 800px) {
      width: 1rem;
      height: 1rem;
    }
  }
}

/* Style the back side */
.flip-card-back {
  background-color: $white;
  color: $black;
  transform: rotateY(180deg);
}

.flip-card-bg-1, .flip-card-bg-2, .flip-card-bg-3 {
  svg {
    path {
      fill: $black;
    }
  }
}

.flip-card-bg-2 {
  svg {
    path {
      fill: $white;
      @media only screen and (max-width: 800px) {
        fill: $black;
      }
    }
  }
}

.flip-card-bg-3{
  svg {
    path {
      fill: $black;
      @media only screen and (max-width: 800px) {
        fill: $white;
      }
    }
  }
}

.flip-card-bg-0, .flip-card-bg-2  {
  background-color: rgba($brown-2, 0.9);
  color: $white;
  &:hover {
    color: $nude;
    transition: all 300ms ease-in;
  }
}

.flip-card-bg-1 , .flip-card-bg-3 {
  background-color: $white;
  color: $black;
  &:hover {
    color: $nude;
    transition: all 300ms ease-in;
  }
}

.flip-card__icon {
    img {
      height: 4rem;
      object-fit: cover;
      margin-top: 5.5rem;
      @media only screen and (max-width: 800px) {
        height: 2rem;
        margin-top: 1.5rem;
      }
    }
}

.flip-card__question {
  font-family: $monseratt;
  font-size: 1.2rem;
  display: block;
  margin-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  @media only screen and (max-width: 800px) {
    margin-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.7rem;
  }
}

.flip-card__answer {
  font-family: $monseratt;
  font-size: 1rem;
  display: block;
  padding: 2.5rem 1rem;
  @media only screen and (max-width: 800px) {
    padding: 0.7rem 0.5rem;
    font-size: 0.6rem;
  }
}

.flip-card-bg-2 {
  @media only screen and (max-width: 800px) {
   background-color: $white;
   color: $black;
  }
}

.flip-card-bg-3 {
  @media only screen and (max-width: 800px) {
   background-color: $brown-2;
   color: $white;
  }
}
