body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $nude;
}

// main {
//  min-height: calc(100vh - 50px);
// }

footer {
  height: 50px;
}
a {
  font-family: $cochin;
}

* {
  margin: 0;
  padding: 0;
}

.main-qa-container {
  background-color: rgba($white, 0.5);
  padding: 2rem 5rem;
  margin: 0 10rem;
  margin-top: 5rem;
  @media only screen and (max-width: 800px) {
    margin: 1.5rem 2rem;
    padding: 1rem 2.5rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $monseratt;
    font-size: 2rem;
  }
  p {
    font-family: $monseratt;
    font-size: 1rem;
    line-height: 1;
    letter-spacing: 0.5px;
    margin: 1.2rem 0;
  }
  &__title {
    text-align: center;
    color: $white;
    font-family: $monseratt;
    font-weight: 400;
    margin-bottom: 2rem;
  }
}
